.empty-state.empty-state--only-child
  p.empty-state__text You don't have any quotes yet!

  = link_to  "Add Quote", new_quote_path, data: { turbo_frame: dom_id(Quote.new) }, class: 'btn btn--primary' 
